<!DOCTYPE html>
<html>
<head>
    <title>{{{pageTitle}}}</title>
    <script type="text/javascript">
        var serverProps = {{{serverProps}}};
    </script>
    <script type="text/javascript" src="/main.js"></script
</head>
<body>
    <div id="base">{{{content}}}</div>
</body>
</html>