<!DOCTYPE html>
<html>
<head>
    <title>{{{pageTitle}}}</title>
</head>
<body>
    <div class="server-error-message">
        <h1>{{{error.name}}}</h1>
        <h2>{{{error.message}}}</h2>
        <p>{{{error.stack}}}</p>
    </div>
</body>
</html>